select(value=model.truncatedTitle(17))
  each course in courses
    option(value=course.get('slug'), selected=course.get('slug')==model.get('slug'), title="<span class='label label-success'>#{label}: </span>#{course.truncatedTitle(17)}")=course.truncatedTitle(27)
