select(value=model.title())
  each language in languages
    option(value=language.get('slug'), selected=language.get('slug')==model.get('slug'), data-content="<span class='label label-success'>#{label}</span>&nbsp;#{language.title()}")
