select(value=model.title())
  each language in languages
    option(value=language.get('slug'), selected=language.get('slug')==model.get('slug'), title="<span class='label label-success'>#{label}: </span>#{language.title()}")=language.title()
