select(value=model.title())
  each unit in units
    option(value=unit.get('slug'), selected=unit.get('slug')==model.get('slug'), data-content="<span class='label label-success'>#{label}</span>#{unit.title()}")
