select(value=model.truncatedTitle(17))
  each unit in units
    option(value=unit.get('slug'), selected=unit.get('slug')==model.get('slug'), title="<span class='label label-success'>#{label}: </span>#{unit.truncatedTitle(17)}")=unit.truncatedTitle(27)
