if model.validationErrorFor('user')
  .alert.alert-danger= model.validationErrorFor('user')
if model.validationErrorFor('serverError')
  .alert.alert-danger= model.validationErrorFor('serverError')
form(role='form')
  .form-group.email(class=model.validationErrorFor('email') ? 'has-error' : null)
    label.control-label(for='email') E-mail
    input#email.form-control(type='email', value=model.get('email'), spellcheck='false')
    if model.validationErrorFor('email')
      p.help-block= model.validationErrorFor('email')
.modal-footer
  .pull-left
    button.btn.btn-primary.js-submit(type='submit')=LangtrainerI18n.t('dialog.password_reset_request.submit')
  =LangtrainerI18n.t('dialog.password_reset_request.remember_password')
  &nbsp;
  a.sign-in-btn(href='#', rel='nofollow')=LangtrainerI18n.t('dialog.password_reset_request.sign_in')
