.modal-dialog
  .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal')
        span(aria-hidden='true') &times;
      h4.modal-title Sign in
    .modal-body
      if model.validationErrorFor('user')
        .alert.alert-danger= model.validationErrorFor('user')
      if model.validationErrorFor('serverError')
        .alert.alert-danger= model.validationErrorFor('serverError')
      form(role='form')
        .form-group(class=model.validationErrorFor('email') ? 'has-error' : null)
          label.control-label(for='email') E-mail
          input#email.form-control(type='email', value=model.get('email'))
          if model.validationErrorFor('email')
            p.help-block= model.validationErrorFor('email')
        .form-group(class=model.validationErrorFor('password') ? 'has-error' : null)
          label.control-label(for='password') Password
          input#password.form-control(type='password')
          if model.validationErrorFor('password')
            p.help-block= model.validationErrorFor('password')
        .actions
          button.btn.btn-primary.js-submit(type='submit') Sign in
    .modal-footer
      |Not registered?
      &nbsp;
      a.sign-up-btn(href='#', rel='nofollow') Sign up
